* {
  margin: 0;
  padding: 0;
}
html, body {
  font-size: 14px;
}
li {
  list-style: none;
}
.line {
  font-size: 14px;
  color: #666;
  padding: 10px 0;
  border-bottom: 1px solid #dedede;
  margin-bottom: 10px;
}